<div class="seller-auth">
    <div class="sign-up" *ngIf="!showLogin">
        <h1>Sign-Up</h1>
        <form #sellerSignUp="ngForm" class="common-form" (ngSubmit)="signUp(sellerSignUp.value)">
            <input class="form-input" type="text" placeholder="Enter Name" name="name" ngModel>
            <input class="form-input" type="password" placeholder="Enter Password" name="password" ngModel>
            <input class="form-input" type="text" placeholder="Enter Email" name="email" ngModel>
            <button class="form-button">SignUp</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already Have Account? Click To Login</a>
        </form>
    </div>
    <div class="user-login" *ngIf="showLogin">
        <h1>Login</h1>
        <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
            <p class="error-p"><span>{{authError}}</span></p>
            <select class="form-input" aria-label="Select user type">
                <option selected disabled>User Type</option>
                <option value="1">Admin</option>
                <option value="2">Team Developer</option>
                <option value="3">Outlet</option>
              </select>            
            <input class="form-input" type="text" placeholder="Enter User Email" name="email" ngModel #email="ngModel"
                required email>
            <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please enter valid value</span></p>
            <input class="form-input" type="password" placeholder="Enter User Password" name="password" ngModel
                #password="ngModel" required minlength="4" maxlength="20">
            <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please enter valid value</span>
            </p>
            <button class="form-button" [disabled]="userLogin.invalid">Login</button>
            <p>Want To Create Account? <a (click)="openSignUp()">Click Here!</a></p>
        </form>
    </div>
</div>