<!-- <div class="row">
    <div class="col-md-6">

        <br />
        <a href="#" class="list-group-item clearfix" *ngFor="let customer of customers">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ customer.fName }}</h4>
                <h4 class="list-group-item-heading">{{ customer.address }}</h4>
            </div>
        </a>

        

        <div class="col-xs-12 pull-right">
        <div class="row pull-right">            
                <button class="btn btn-success" type="button" (click)="onAddCustomer()">Add New Customer</button>
                <div *ngIf="toAddCustomer">
                    <app-customer-edit></app-customer-edit>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="#" class="list-group-item clearfix" *ngFor="let customer of customers">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{ customer.fName }}</h4>
                    <h4 class="list-group-item-heading">{{ customer.address }}</h4>
                </div>
            </a>
            <br/>
            <button class="btn btn-success" type="button" (click)="onAddCustomer()">Add New Customer</button>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <div *ngIf="toAddCustomer">
                    <app-customer-edit></app-customer-edit>
                </div>
            </div>
        </div>
    </div>
</div>