<nav class="nav">
    <h1><a class="mainCornerImage" (click)="onHomeClick()">Reaprich</a></h1>
    <div class="nav-search">
        <input #searchInput type="text" placeholder="Search Something" />
        <button >Search</button>
        
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/actor-auth">Login/Sign-up</a></li>
            <li><a routerLink="/product-home">Our Products</a></li>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/contact-us">Contact-Us</a></li>
        </ul>

        <ul *ngSwitchCase="'admin'">
            <li><a routerLink="/customer-home">Customers</a></li>
            <li><a routerLink="/outlet-home">Outlets</a></li>
            <li><a routerLink="/teamdev-home">Team Developers</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a routerLink="/">Contact-Us</a></li>
            <li><a routerLink="/">Welcome Admin!</a></li>
        </ul>
    </div>
    
</nav>