
table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.input {
    height: auto;
}

mat-form-field {
    margin-top: 40px;
}


.button-row {    
    margin-top: 40px;
    display: table-cell;    

  }

.customer-list{
    margin-left: 30px;
    margin-right: 30px;
}  