table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse ;
}

table td,table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-height: 160px;
}

img {
    height: 100px;
    width: 100px;
}

.adjust-update-link{
    margin-left: 10px;
}

h1 {
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
    text-align: center;
}

.add-customer-button{
    height: 35px;
    border: 1px solid blueviolet;
    cursor: pointer;
    margin-top: 50px;
}
