<div class="customer-list">    
    <h1>All Customers List</h1>
    <p class="message-p">{{customerMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Actor-Type</th>
                <th>Customer Type</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact Number</th>
                <th>Team Developer</th>     
                <th>Action</th>           
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of customerList">
                
                <td>{{item.actorType}}</td>
                <td>{{item.customerType}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.contactNumber}}</td>
                <td>{{item.teamDevId}}</td>
                
                

                <td>
                    <fa-icon class="link_cursor" [icon]="icon" (click)="deleteCustomer(item.id)"></fa-icon>   
                    <a class="adjust-update-link" routerLink="/customer-edit/{{item.id}}"><fa-icon [icon]="iconEdit"></fa-icon></a>                 
                </td>
            </tr>
        </tbody>
    </table>
    <button class="add-customer-button" (click)="addCustomer()">Add New Customer? Click here!</button>
</div>


