<div class="customer-list">    
    <h1>All Customers List</h1>
    <p class="message-p">{{customerMessage}}</p>
    <table *ngIf="customerList?.length">
        <thead>
            <tr>
                <th>Actor-Type</th>
                <th>Customer Type</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact Number</th>
                <th>Team Developer</th>     
                <th>Action</th>           
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of customerList">
                
                <td>{{item.Actor_Type}}</td>
                <td>{{item.Customer_Type}}</td>
                <td>{{item.Customer_F_Name}}</td>
                <td>{{item.Customer_L_Name}}</td>
                <td>{{item.Customer_Contact_Number}}</td>
                <td>{{item.TD_Add}}</td>
                
                

                <td>
                    <fa-icon class="link_cursor" [icon]="icon" (click)="deleteCustomer(item.id)"></fa-icon>   
                    <a class="adjust-update-link" routerLink="/customer-edit/{{item.id}}"><fa-icon [icon]="iconEdit"></fa-icon></a>                 
                </td>
            </tr>
        </tbody>
    </table>
    <button class="add-customer-button" (click)="addCustomer()">Add New Customer? Click here!</button>
</div>


