<form class="teamdev-form" [formGroup]="addTeamdevForm" #formMine="ngForm" (ngSubmit)="onAddTeamdev(formMine.value)">

    <h1>Add New Teamdev</h1>

    <table class="teamdev-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="teamdev-full-width" formGroupName="actorType">
                    <mat-label>Actor Type (disabled)</mat-label>
                    <input matInput value="TD" formControlName="id" />
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>
                <mat-form-field class="teamdev-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput class="form-control" formControlName="firstName">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="teamdev-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput class="form-control" formControlName="lastName">
                </mat-form-field>
            </td>
        </tr>

        <tr>
            <td>
                <mat-form-field class="teamdev-full-width">
                    <mat-label>Contact Number</mat-label>
                    <input matInput class="form-control" formControlName="contactNumber">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="teamdev-full-width">
                    <mat-label>PAN Number</mat-label>
                    <input matInput class="form-control" formControlName="PAN">
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <button mat-stroked-button (click)="openPopUpForTeamdevKYC()" type="button">Add KYC Details</button>
                <fa-icon *ngIf="teamdevKycDetailsUUID" class="fa-sharp fa-light fa-check"
                    [icon]="rightIconForModal"></fa-icon>
                <fa-icon *ngIf="!teamdevKycDetailsUUID" class="fa-sharp fa-light fa-check"
                    [icon]="wrongIconForModal"></fa-icon>
            </td>
            <td>
                <button mat-stroked-button (click)="openPopUpForTeamdevAddress()" type="button">Add TD
                    Address</button>
                <fa-icon *ngIf="teamdevAddressUUID" class="fa-sharp fa-light fa-check"
                    [icon]="rightIconForModal"></fa-icon>
                <fa-icon *ngIf="!teamdevAddressUUID" class="fa-sharp fa-light fa-check"
                    [icon]="wrongIconForModal"></fa-icon>
            </td>
        </tr>
        <hr>
        <pre></pre>
        <tr>
            <td>
                <button mat-stroked-button (click)="openPopUpForTeamdevBankDetails()" type="button">Add Bank
                    Details</button>
                <fa-icon *ngIf="teamdevBankDetailsUUID" class="fa-sharp fa-light fa-check"
                    [icon]="rightIconForModal"></fa-icon>
                <fa-icon *ngIf="!teamdevBankDetailsUUID" class="fa-sharp fa-light fa-check"
                    [icon]="wrongIconForModal"></fa-icon>
            </td>
        </tr>
        <hr>
        <pre></pre>
        <tr>
            <td>
                <mat-form-field class="teamdev-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput class="form-control" formControlName="email">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="teamdev-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput class="form-control" formControlName="password">
                </mat-form-field>
            </td>
        </tr>

    </table>
    <hr>
    <pre></pre>
    <button type="submit" class="teamdev-full-width" mat-raised-button color="warn">Add Teamdev</button>
</form>