<h1>Welcome to Reaprich User Management!</h1>
<div>
    <div *ngIf="showAdminControl">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile (click)="clickTeamDev($event)">Team Developers</mat-grid-tile>
            <mat-grid-tile (click)="clickOutlet($event)">Outlets</mat-grid-tile>
            <mat-grid-tile (click)="clickCustomer($event)">Customers</mat-grid-tile>
            <mat-grid-tile (click)="clickLocation($event)">Location Control</mat-grid-tile>
        </mat-grid-list>
    </div>

    <div *ngIf="showModuleSelection">
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile (click)="clickAdmin($event)">Admin</mat-grid-tile>
            <mat-grid-tile (click)="clickInventory($event)">Inventory</mat-grid-tile>
        </mat-grid-list>
    </div>
</div>