/* .btn-override{
    height: 150px;
    width: 150px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
} */

mat-grid-tile {
    background: lightseagreen;
    font-size: x-large;
    color: azure;
    cursor: pointer
    /* height: 200px; */
  }