/* .address-container {
    display: fle;
    flex-direction: row;
    justify-content: space-between ;
}

.add-outlet{
    text-align: center;
    margin-top: 50px;
    
}

.addModuleDropdown {
    margin-top: 20px;
}



.common-form-add-outlet {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 500px;
}

.outlet-button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
} */


.outlet-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin:0 auto;
    margin-top: 30px;
  }
  
  .outlet-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  

  button {
    vertical-align:middle;
    margin:0 auto;
  }