<form class="outlet-form" [formGroup]="outletForm" #formMine="ngForm" (ngSubmit)="onAddOutlet(formMine.value)">

    <h1>Add New Outlet</h1>

    <table class="outlet-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="outlet-full-width" formGroupName="actorType">
                    <mat-label>Actor Type (disabled)</mat-label>
                    <input matInput value="Outlet" formControlName="id" />
                </mat-form-field>
            </td>
            <td>
                <mat-form-field formGroupName="outletType">
                    <mat-label>Outlet Type</mat-label>
                    <mat-select formControlName="id">
                        <mat-option *ngFor="let outlet of providerInfo.outletType" [value]="outlet.id">{{ outlet.name
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Firm name</mat-label>
                    <input matInput class="form-control" formControlName="firmName">
                </mat-form-field>
            </td>
        </tr>
    </table>

    <table class="outlet-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Firm Contact Number</mat-label>
                    <input matInput formControlName="firmContactNumber" class="form-control">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Firm GST Number</mat-label>
                    <input matInput formControlName="firmGSTNumber" class="form-control">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Firm PAN Number</mat-label>
                    <input matInput formControlName="firmPAN" class="form-control">
                </mat-form-field>
            </td>
        </tr>
    </table>

    <table class="outlet-full-width" cellspacing="0">
        <tr>
            <td>
                <button mat-stroked-button (click)="openPopUpForFirmAddress()" type="button">Add Firm Address</button>
                <fa-icon *ngIf="firmAddressUUID" class="fa-sharp fa-light fa-check"
                    [icon]="rightIconForModal"></fa-icon>
                <fa-icon *ngIf="!firmAddressUUID" class="fa-sharp fa-light fa-check"
                    [icon]="wrongIconForModal"></fa-icon>
            </td>
            <td>
                <button mat-stroked-button (click)="openPopUpForBankDetails()" type="button">Add Bank Details</button>
                <fa-icon *ngIf="bankDetailsUUID" class="fa-sharp fa-light fa-check"
                    [icon]="rightIconForModal"></fa-icon>
                <fa-icon *ngIf="!bankDetailsUUID" class="fa-sharp fa-light fa-check"
                    [icon]="wrongIconForModal"></fa-icon>
            </td>
        </tr>
    </table>

    <hr>
    <pre></pre>

    <table class="outlet-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Owner First Name</mat-label>
                    <input matInput formControlName="ownerFirstName" class="form-control">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Owner Last Name</mat-label>
                    <input matInput formControlName="ownerLastName" class="form-control">
                </mat-form-field>
            </td>
        </tr>
    </table>

    <table class="outlet-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Owner Contact Number</mat-label>
                    <input matInput formControlName="ownerContactNumber" class="form-control">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Owner PAN</mat-label>
                    <input matInput formControlName="ownerPAN" class="form-control">
                </mat-form-field>
            </td>
    </table>

    <table class="outlet-full-width" cellspacing="0">
        <tr>
            <td>
                <button mat-stroked-button (click)="openPopUpForKycDetails()" type="button">Add Owner KYC
                    Details</button>
                <fa-icon *ngIf="kycDetailsUUID" class="fa-sharp fa-light fa-check" [icon]="rightIconForModal"></fa-icon>
                <fa-icon *ngIf="!kycDetailsUUID" class="fa-sharp fa-light fa-check"
                    [icon]="wrongIconForModal"></fa-icon>
            </td>
            <td>
                <button mat-stroked-button (click)="openPopUpForOwnerAddress()" type="button">Add Owner Address</button>
                <fa-icon *ngIf="ownerAddressUUID" class="fa-sharp fa-light fa-check"
                    [icon]="rightIconForModal"></fa-icon>
                <fa-icon *ngIf="!ownerAddressUUID" class="fa-sharp fa-light fa-check"
                    [icon]="wrongIconForModal"></fa-icon>
            </td>
        </tr>
    </table>

    <hr>
    <pre></pre>

    <table class="outlet-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>TD Email</mat-label>
                    <input matInput formControlName="tdEmail" class="form-control">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" class="form-control">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="outlet-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" class="form-control" type="password">
                </mat-form-field>
            </td>
        </tr>
    </table>

    <button type="submit" class="outlet-full-width" mat-raised-button color="warn">Add Outlet</button>

</form>