<form [formGroup]="kycDetailForm" (ngSubmit)="saveBankKycDetails(kycDetailForm.value)">
    <h1 mat-dialog-title>Add Owner KYC Details</h1>

    
    <div mat-dialog-content>
        <table class="outlet-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="outlet-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" class="form-control">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="outlet-full-width" formGroupName="idType">
                        <mat-label>ID Type</mat-label>
                        <mat-select formControlName="id" >
                            <mat-option *ngFor="let idType of dataPassed.idType" [value]="idType.id">{{ idType.idDesc }}</mat-option>
                        </mat-select>  
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="outlet-full-width">
                        <mat-label>ID Number</mat-label>
                        <input matInput formControlName="idNumber" class="form-control">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="outlet-full-width"  formGroupName="addProofType">
                        <mat-label>Address Proof Type</mat-label>                        
                        <mat-select formControlName="id" >
                            <mat-option *ngFor="let addProofType of dataPassed.addProofType" [value]="addProofType.id">{{ addProofType.idDesc }}</mat-option>
                        </mat-select>  
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="outlet-full-width">
                        <mat-label>Address Proof Number</mat-label>
                        <input matInput formControlName="addProofNumber" class="form-control">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="outlet-full-width">
                        <mat-label>Document Links</mat-label>
                        <input matInput formControlName="documentLinks" class="form-control">
                    </mat-form-field>
                </td>
            </tr>                 
        </table>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" > Save</button>
        <button mat-raised-button color="warn" (click)="closePopUp()">Close</button>
        <!-- <button  mat-raised-button color="accent" [mat-dialog-close] = "closeMessage">Cancel</button> -->
    </div>
</form>