<h1>Order Items</h1>
<button class="customer-full-width" mat-raised-button color="warn" (click)="onCheckoutClick()">Checkout</button>
<mat-grid-list cols="4" rowHeight="3:3">
    <mat-grid-tile *ngFor="let product of productList">
        <mat-card class="example-card">
            <img mat-card-image src="../../../assets/images/sample1.png" alt="Photo of a Shiba Inu">            
            <mat-card-content>
                <p>
                    {{product.name}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="center" mat-raised-button (click)="addToCart()">Add To Cart</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>