<div class="edit-customer">
    <h1>Edit Customer</h1>
    <p class="message-p">{{ customerMessage }}</p>
    <form #addCustomer="ngForm"  class="common-form" (ngSubmit)="submit(addCustomer.value)">
        <input class="form-input" type="text" placeholder="Actor Type" name="Actor_Type" ngModel="{{customerData?.actorType}}">
        <input class="form-input" type="text" placeholder="Customer Type" name="Customer_Type" ngModel="{{customerData?.customerType}}">
        <input class="form-input" type="text" placeholder="First Name" name="Customer_F_Name" ngModel="{{customerData?.firstName}}">
        <input class="form-input" type="text" placeholder="Last Name" name="Customer_L_Name" ngModel="{{customerData?.lastName}}">
        <textarea class="form-input" type="text" placeholder="Contact Number" name="Customer_Contact_Number" ngModel="{{customerData?.contactNumber}}"></textarea>    
        <input class="form-input" type="text" placeholder="Tead Developer Id" name="TD_Add" ngModel="{{customerData?.address }}" />
        <button class="form-button">Update Customer Details</button>
    </form>
</div>


