<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="form-group">
                <label for="ctype">Customer Type</label>
                <input type="Text" class="form-control" id="ctype" placeholder="Select Customer Type">
            </div>
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="Text" class="form-control" id="fname" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="Text" class="form-control" id="lname" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="Text" class="form-control" id="address" placeholder="Enter Address">
            </div>
            <div class="form-group">
                <label for="addedby">Added By</label>
                <input type="Text" class="form-control" id="addedby" placeholder="Select Added By Name">
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4"><button class="btn btn-success" type="submit" (click)="onAddItem()">Add</button></div>
                    <div class="col-md-4"><button class="btn btn-danger" type="button">Delete</button></div>
                    <div class="col-md-4"><button class="btn btn-primary" type="button">Clear</button></div>
                </div>
            </div>
        </form>
    </div>
</div>

  <!-- actorType: string, customerType: string,fName: string, lName: string,address: string, tdAdded: string -->