@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: sans-serif;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}


.common-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}

.form-input {
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid;;
}

/* .form-button {
    height: 35px;
    border: 1px solid rgb(221,153,51);
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(221,153,51);
    color: white;
    box-sizing: border-box;
    font-family: lato;
    font-weight: bold;

} */

.error-p {
    color: red;
}

.message-p{
    color: green;
    text-align: center;
}


.carousel-caption {
    background-color: black;   
    border-radius: 5px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 5px;
}

.invalid-input{
    color: red;
    font-size: 12px;
    margin-top: -20px;
    text-align: left;
}

button:disabled{
    cursor: not-allowed;
}

.link_cursor
{
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
